/* 모든 테그에 대해서 마진과 패딩을 없애겠다. */
* {
  margin: 0;
  padding: 0;
}

#Header {
  height: 100px;
  border-bottom: 1px solid gray;
}

#Body {
  height: 75vh;
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 20px;
}

#Footer {
  height: 150px;
  background-color: rgb(230, 230, 230);
}

#banner {
  height: 150px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-area {
  width: 1024px;
  height: 100%;
  /* 부모에서
  display: flex;
  justify-content: center;
  로 해도 아래 마진이랑 동일한 효과 */
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#header-area > img {
  height: 80px;
  width: 190px;
  flex-grow: 0;
}

#header-area > h1 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#login_menu {
  height: 80px;
  width: 190px;
  display: flex;
  align-items: end;
  flex-grow: 0;
  color: blue;
  font-weight: 500;
}

#banner > h1 {
  color: blue;
  font-size: 24px;
}

#Body > h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 180px;
  height: 300px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 12px;
  overflow: hidden;
}

.product-image-frame {
  width: 100%;
  height: 70%;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 100%;
  height: 100%;
}

.product-content {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

#product-name {
  font-size: 14px;
}

#product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 2px;
}

.product-seller {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.product-avatar {
  width: 24px;
}

.product-link {
  color: inherit;
  text-decoration: none;
}
