/* 모든 테그에 대해서 마진과 패딩을 없애겠다. */
* {
  margin: 0;
  padding: 0;
}

#Header {
  height: 100px;
  border-bottom: 1px solid gray;
}

#Body {
  height: 78%;
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 20px;
}

#Footer {
  height: 150px;
  background-color: red;
}

#banner {
  height: 150px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-area {
  width: 1024px;
  height: 100%;
  /* 부모에서
  display: flex;
  justify-content: center;
  로 해도 아래 마진이랑 동일한 효과 */
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#header-area > img {
  height: 80px;
  width: 190px;
  flex-grow: 0;
}

#header-area > h1 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#login_menu {
  height: 80px;
  width: 190px;
  display: flex;
  align-items: end;
  flex-grow: 0;
  color: blue;
  font-weight: 500;
}

#banner > h1 {
  color: blue;
  font-size: 24px;
}

#Body > h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

#login_area {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#login_box {
  height: 300px;
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login_box > h1 {
  height: 40px;
  width: 100%;
  margin: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

#idbox {
  height: 30px;
  width: 200px;
  margin: 10px;
}

#passwordbox {
  height: 30px;
  width: 200px;
  margin: 10px;
}

#login_action {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

#submit {
  height: 30px;
  width: 80px;
  background-color: #ddddff;
  border-radius: 10px;
  overflow: hidden;
}

#cancel {
  height: 30px;
  width: 80px;
  background-color: #eeeeee;
  border-radius: 10px;
  overflow: hidden;
}
